/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

#cash
{
    font-weight: bold;
    background-color: rgba(255, 254, 127, 0.72);
}

th
{
    text-align: left;
}

tbody
{
    text-align: left;
    /*background-color: #9acfea;*/
}

#nav
{
    text-align: center;
    align-self: center;
}

.navBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#button
{
    border: none;
}

li
{
    display: inline;
    width: auto;
}

a
{
    font-size: large;
}

a:hover, a:active
{
    font-weight: bold;
    text-decoration: none;
}

#logout:hover
{
    color: #ff2527;
}

.sellButton
{

    border: 3px solid #27ff15;
    color: black;
    background-color: white;
    height: 2.5em;
    width: 5em;
    padding: 0;
    font-size: 1.2em;
}

.sellButton:hover
{
    /*background-color: #27ff15;*/
}
